.mainBannerSection {
  height: 400px;
  background-color: #fcf8ef;
  background-image: url(../../assets/images/bg.png);
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
  width: 100%;
}
